<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [2]:
# Membuat dataframes dari dictionary
import pandas as pd
df = pd.DataFrame({'kendaraan': ['mobil','motor'], 'roda_kendaraan': [4,2]})
print(df)

  kendaraan  roda_kendaraan
0     mobil               4
1     motor               2

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [32]:
# Membaca data dan memasukannya kedalam suatu variabel
df_from_csv = pd.read_csv('diamonds.csv')

print (df_from_csv)

       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0               1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3               4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4               5   0.31       Good     J     SI2   63.3   58.0    335  4.34
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z
0      3.98  2.43
1      3.84  2.31
2      4.07  2.31
3      4.23  2.63
4      4.35  2.75
...     ...   ...
53935  5.76  3.50
53936  5.75  3.61
53937  5.68  3.56
53938  6.12  3.74
53939  5.87  3.64

[53940 rows x 11 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab: 
Perbedaan Series dengan List dan Dictionary
Series adalah suatu objek satu dimensi yang dapat menyimpan berbagai jenis tipe data seperti integer, string, dan lain sebagainya.
Series merupakan gabungan dari ist dan dictionary.

Perbedaan DataFrame dan Series
Series adalah suatu objek satu dimensi yang dapat menyimpan berbagai jenis tipe data seperti integer, string, dan lain sebagainya.
DataFrame adalah suatu objek 2 dimensi tempat menyimpan data dengan lebih terstruktur.

In [18]:
# code here
import pandas as pd
x = pd.Series([1,2,3,4])
print(x)

0    1
1    2
2    3
3    4
dtype: int64

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [33]:
# code here
df_from_csv.head()
df_from_csv['price']

0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53940, dtype: int64

In [34]:
df_from_csv.tail()
df_from_csv['color']

0        E
1        E
2        E
3        I
4        J
        ..
53935    D
53936    D
53937    D
53938    H
53939    D
Name: color, Length: 53940, dtype: object

In [48]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id pelajaran  nilai jenis-kelamin kelas
0         1     Kimia     62     perempuan   12C
1         2   Ekonomi     72     laki-laki   12A
2         3   Ekonomi     96     laki-laki   12B
3         4   Geologi     84     laki-laki   12A
4         5    Fisika     27     laki-laki   12C

<h2>Soal 5: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [50]:
# code here
# Soal 5.1
df[['nilai,kelas']]

SyntaxError: ignored

In [51]:
# Soal 5.2
df.loc[5:10,['pelajaran,nilai']]

KeyError: ignored

<h2>Soal 6: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [52]:
# code here
# Soal 6.1
display(df[(df.pelajaran=='Ekonomi') | (df.pelajaran=='Fisika')])

    siswa_id pelajaran  nilai jenis-kelamin kelas
1          2   Ekonomi     72     laki-laki   12A
2          3   Ekonomi     96     laki-laki   12B
4          5    Fisika     27     laki-laki   12C
5          6    Fisika     47     perempuan   12C
6          7    Fisika     60     laki-laki   12A
14        15    Fisika     22     laki-laki   12C
15        16    Fisika     11     perempuan   12D
16        17   Ekonomi     54     perempuan   12D
17        18   Ekonomi     47     laki-laki   12A

In [53]:
# Soal 6.2
display(df[(df.pelajaran=='Kimia') & (df.nilai>50)])

   siswa_id pelajaran  nilai jenis-kelamin kelas
0         1     Kimia     62     perempuan   12C

In [54]:
# Soal 6.3
display(df[(df.nilai>70) & (df['jenis-kelamin']=='perempuan') & (df.kelas=='12C')])

   siswa_id pelajaran  nilai jenis-kelamin kelas
7         8   Geologi     84     perempuan   12C