<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [ ]:
print ("Hello World Python")

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [ ]:
a = 10
b = 5

tambah = (a + b)
kurang = (a - b)
kali = (a*b)
bagi = (a/b)

print('Petambahan:', tambah)
print('Perkurangan:', kurang)
print('Perkalian:', kali)
print('Pembagian:', bagi)

Petambahan: 15
Perkurangan: 5
Perkalian: 50
Pembagian: 2.0

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [ ]:
a = 10
b = 5

ini_int = int(a/b)
ini_float = float(a/b)

print("data integer:", ini_int)
print("tipenya:", type(ini_int))

print("data float:", ini_float)
print("tipenya:", type(ini_float))

data integer: 2
tipenya: <class 'int'>
data float: 2.0
tipenya: <class 'float'>

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lastname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science dasar.'

In [1]:
firstname = 'Fauzan'
lastname = 'Musyafa'
age = 22
print('Hello, saya', firstname +' '+ lastname+ '!'+ ' saya siap belajar python.')

Hello, saya Fauzan Musyafa! saya siap belajar python.

Expected Output :

Hello, saya Arief Muhammad! saya siap belajar python.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [ ]:
usia = 23
kata = 'usiaku: '
print(kata + str(usia)+ ' '+ 'tahun')

usiaku: 23 tahun

# Data Structure

<h2>Soal 6: Perbedaan Data Structure</h2>

Jawab Pertanyaan di bawah ini:

Jelaskan perbedaan dari List, Tuple, Set dan Dictionary!

List,
Tuple,
Set,
Dictionary,

List merupakan tipe data yang dapat berisi lebih dari satu data, dapat diubah dan memungkinkan adanya data duplikat didalamnya.
Ciri-ciri dari List menggunakan kurung siku "[]", memisahkan elemen dengan koma ","
---
Tuple merupakan tipe data yang dapat menampung data. Perbedaan tuple dan list yaitu dari kurung yang digunakan dan tipe data tuple tidak dapat diubah setelah proses eksekusi. Pada tuple bisa menambahkan data duplikat.
Ciri-ciri dari Tuple menggunakan kurung "()", memisahkan elemen dengan koma ","
---
Set merupakan tipe data yang dapat menampung data juga. Namun untuk tipe data set tidak boleh ada elemen dengan nilai yang sama didalamnya, tidak akan menampilkan data duplikat dan tidak memperdulikan urutan dari elemen.
Ciri-ciri dari Set menggunakan kurung kurawal "{}", memisahkan elemen dengan koma ","
---
Dictionary merupakan tipe data yang dapat digunakan untuk menambahkan suatu nilai pada data ke dalam nilai yang lainnya.
Ciri-ciri Dictionary mirip dengan tipe data Set, namun yang membedakan adalah Dictionary akan memetakan key dan value.
Contohnya :
data_diri = {'tinggi badan':170, 'berat badan':63}
print(data_diri['tinggi badan'])

result
170

# List

<h2>Soal 7: Akses List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
xa = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
print(xa[1:5])
# slicing list

['13b', 'aa1', 1.32, 22.1]

Expected Output :

[ '13b', 'aa1', 1.32, 22.1 ]

<h2>Soal 8: Akses Nested List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]
print(a[1][1:3])
# subsetting list

[0, 6]

Expected Output :


[0, 6]

<h2>Soal 9: List Manipulation</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]

a[0][2] = 10
a[1][0] = 11
# change list value

print(a)

[[5, 9, 10], [11, 0, 6]]

Expected Output :

[ [5, 9, 10], [11, 0, 6] ]

<h2>Soal 10: Delete Element List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

areas.remove('bathroom')
# Hilangkan elemen yang bernilai "bathroom" dan 10.50 dalam satu statement code

print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 10.5, 'poolhouse', 24.5, 'garage', 15.45]

Expected Output:

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'poolhouse',
 24.5,
 'garage',
 15.45]



---



---

# Tuple

## Soal 11. Mengakses Tuple

Gunakan cara slicing untuk mengakses tuple sehingga mendapatkan hasil sesuai expected output

In [ ]:
tuple_1 = (1, 2, 6, 7, 8, 9, 10)

print(tuple_1[2:5])
#akses tuple

(6, 7, 8)

Expected Outpout:


(6, 7, 8)



---



---

# Dictionary

<h2>Soal 12: Menambahkan key-value baru ke Dictionary</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# tambahkan key itali ke objek dictionary dengan value roma
europe['itali'] = 'roma'
# cek apakah itali ada di dalam objek dictionary
'itali' in europe

True

Expected Output:
    
True

<h2>Soal 13: Update dan Remove Dictinary</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# update nilai ibukota german ke berlin
europe['germany'] = 'berlin'
# remove australia dari europa
europe.pop('australia')

print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

Expected Output:

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

<h2>Soal 14: Loop Dictionary</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
country = { 
           'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 },
           'indonesia' : {'capital':'jakarta', 'population':250}
         }

for key in country:
    print('Ibukota '+key+' adalah ' + country[key]['capital'])

Ibukota spain adalah madrid
Ibukota france adalah paris
Ibukota germany adalah berlin
Ibukota norway adalah oslo
Ibukota indonesia adalah jakarta

Expected Output:
    
Ibukota spain adalah madrid

Ibukota france adalah paris

Ibukota germany adalah berlin

Ibukota norway adalah oslo

Ibukota indonesia adalah jakarta



---



---

# Set

## Soal 15: Remove Duplicate using set


Hilangkan nilai duplikat dari sebuah objek list dengan menggunakan cara set sehingga menjadi sebuah tipe set

In [ ]:
obj_list = [1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10]
a= set(obj_list)

print(a)
#using set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Expected output: 

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Soal 16: Operasi pada Set

Carilah irisan dari ke dua set dengan menggunakan metode intersection

In [ ]:
set_2 = {6, 8, 9, 10, 24}
set_3 = {6, 10, 8, 25, 13}
print(set_2.intersection.(set_3))
#intersection set

SyntaxError: ignored

Expected output:


{6, 8, 10}

usiaku: 22 tahun

---



---

Expected Output : (sesuai usia masing-masing)

usiaku: 28 tahun