<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [ ]:
#contoh untuk string
# 'sanber' == 'saber'

a = 'a'
b = 'b'
c= 'a' == 'b'
print('a < b ==', c)

salah = False
salah1 = False
hasil = salah == salah1
print('salah == salah1 =', hasil)

satu = 1
dua = 2
hasil = 1 == 2
print('1 == 2 =', hasil)

a < b == False
salah == salah1 = True
1 == 2 = False



---



---

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [ ]:
#seperti soal no.1 hanya saja terdapat lebih dari satu syarat perbandingan
a = 1 != 1 
b = 2 != 2

if ((a and b)):
    print ("benar")

else:
    print ("salah")  

if ((a or b)):
    print ("benar")

else:
    print ("salah")

if (not(a or b)):
    print ("benar")

else:
    print ("salah")

salah
salah
benar



---



---

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'High' jika grade adalah 'A' dan price lebih dari 100000, kemudian mem-print 'Medium' jika grade adalah 'A' dan price lebih dari 50000 dan memprint 'low' jika grade adalah 'A' dan price lebih kecil dan sama dengan 50000.

In [ ]:
#code here
#High jika grade A price > dari 100000
#Medium jika grade A price > dari 50000
#low jika grade A dan price <= 50000

grade_A = 50000
if grade_A > 100000 :
  print('High')
elif grade_A > 50000 :
    print('Medium')
elif grade_A <= 50000 :
    print('Low')

Low



---



---

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [ ]:
# Buat fungsi
def nilai(a):
    if ((a % 2) == 0) :
        if (a>=2 and a<=5) or a>20:
            return "Tidak Aneh"
        elif a>=6 and a<=20:
            return "Aneh"
    else:
        return "Aneh"
print(nilai(4))

Tidak Aneh



---



---

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

jawaban perbedaan

In [ ]:
# while loop adalah perulangan yang jumlah proses pengulangannya tidak terbatas
# for loop adalah perulangan yang jumlah proses pengulangannya tergantung dari isi variabel, 
# for loop mendefinisikan variabel menjadi sebuah array pada salah satu tipe data
# jawaban contoh

print('while loop')
x = 1
while x <= 3 :
  print('Sanbercode')
  x += 1
print('='*20)
print('for loop')
kota = ['jakarta','bandung','yogyakarta']
for nama_kota in kota:
  print(nama_kota)

while loop
Sanbercode
Sanbercode
Sanbercode
====================
for loop
jakarta
bandung
yogyakarta



---



---

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang menerima satu input nilai numerik
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [ ]:
 print(f'Jika a = 10')
a = 10

def fungsi_while(angka):
  while angka!=0:
    print(angka)
    angka-=1
  if angka<-1:
    print(angka)

print('='*20)

print(f'Jika a = -10')
a = -10

def fungsi_while(angka):
  while angka!=0:
    print(angka)
    angka-=-1

fungsi_while(a)

Jika a = 10
====================
Jika a = -10
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Expected Output:

jika a = 10                           

10                                   
9                      
8   
7   
6  
5  
4  
3  
2  
1

jika a = -10

-10                                   
-9                        
-8  
-7  
-6  
-5  
-4  
-3  
-2  
-1



---



---

<h2>Soal 7: For Loop</h2>

Lengkapi kode untuk menghasilkan suatu output yang diharapkan:





*   Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [ ]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

In [8]:
lulus = []
for siswa in data_siswa:
  if siswa["nilai"] >= 80:
    lulus.append(siswa["nama"])  
print(lulus)

#code here

[]

Expected output:

['Budi', 'Rudi', 'Leo']



---



---

<h2>Soal 8: For Loop Enumerate</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [ ]:
obj_list= [1, 16, 11, 10, 5]
for index,obj in enumerate(obj_list):
  print(index*obj)
# lengkapi code di bawah

0
16
22
30
20

Expected Output:

0

16

22

30

20



---



---